// assets/css/admin-imports/icons.scss


/*
 * Icons
 */

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

#settingsNav .feather {
  width: 25px;
  height: 25px;
}

#project-heading .feather {
  margin-left: 8px;
}
